*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows: 20vh 140vh min-content repeat(2, 50vw) repeat(9, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .container {
    grid-template-rows: 20vh 100vh min-content repeat(2, 55vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .container {
    grid-template-rows: 20vh 100vh min-content repeat(2, 55vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .container {
    grid-template-rows: 20vh 100vh min-content repeat(2, 330vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .container {
    grid-template-rows: 20vh 100vh min-content repeat(2, 230vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .container {
    grid-template-rows: 20vh 120vh min-content 300vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .container {
    grid-template-rows: 20vh 120vh min-content 450vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}

.info-heading, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4rem;
  font-weight: 600;
  color: #f9f7f6;
}
@media only screen and (max-width: 31.25em) {
  .heading-1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.heading-2 {
  font-size: 4rem;
  font-weight: 600;
  color: #f9f7f6;
}
.heading-2--light {
  color: #00b1ef;
}
.heading-2--dark {
  color: #067ca7;
}
@media only screen and (max-width: 31.25em) {
  .heading-2 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.heading-3 {
  font-size: 2rem;
  font-weight: 600;
}
.heading-3--light {
  color: #f9f7f6;
}
.heading-3--dark {
  color: #54483A;
}

.heading-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.info-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #00b1ef;
  text-align: center;
}

.hero-content {
  text-align: center;
  padding: 0 2rem;
}
.hero-content__text {
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: 300;
  color: #f9f7f6;
  text-align: center;
}

.contact-form {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
}

.header {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
}

.logo-box {
  height: 20rem;
  width: 20rem;
}
@media only screen and (max-width: 25em) {
  .logo-box {
    width: 8rem;
    height: 10rem;
  }
}

.logo {
  width: 12rem;
  height: 15rem;
}
@media only screen and (max-width: 37.05em) {
  .logo {
    width: 10rem;
    height: 12rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .logo {
    width: 10rem;
    height: 12rem;
  }
}
@media only screen and (max-width: 25em) {
  .logo {
    width: 8rem;
    height: 10rem;
  }
}

.services-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 4rem 3rem;
  text-align: center;
}

.testimonial-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  align-content: center;
  justify-content: space-around;
  text-align: center;
}

.features-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  align-content: center;
  justify-content: space-around;
  text-align: center;
}

.location-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
}

/* Social Media Icons Container */
.social-media-icons {
  display: flex;
  justify-content: space-between; /* Center the icons */
  align-items: center; /* Align them vertically */
  gap: 2rem; /* Space between the icons */
  padding: 1rem 0; /* Add some padding at the top and bottom */
  position: relative;
  top: -5rem;
  right: 0;
  bottom: 0;
  left: 67rem;
}
@media only screen and (max-width: 68.75em) {
  .social-media-icons {
    position: relative;
    top: -5rem;
    right: 0;
    bottom: 0;
    left: 50rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .social-media-icons {
    display: none;
  }
}
@media only screen and (max-width: 37.05em) {
  .social-media-icons {
    display: none;
  }
}
@media only screen and (max-width: 31.25em) {
  .social-media-icons {
    display: none;
  }
}
@media only screen and (max-width: 25em) {
  .social-media-icons {
    display: none;
  }
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #00b1ef;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 1.8rem;
  height: 1.8rem;
  fill: #00b1ef;
}

.social-icon:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: relative;
  z-index: 2000;
}
@media only screen and (max-width: 25em) {
  header {
    justify-content: auto;
    overflow-x: hidden;
  }
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: 700;
  transition: color 0.3s;
}
@media only screen and (max-width: 68.75em) {
  nav a {
    font-size: 1.5rem;
  }
}

nav a:hover {
  color: #555;
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 3000;
  transition: transform 0.3s ease;
}

.menu-toggle.active {
  transform: rotate(90deg);
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  z-index: 3001;
}

.close-btn {
  display: none;
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 3001;
}

@media only screen and (max-width: 56.25em) {
  .close-btn {
    display: block;
  }
}
@media only screen and (max-width: 56.25em) {
  .menu-toggle {
    display: block;
    width: 2rem;
    height: 2rem;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    transition: height 0.5s ease;
  }
  nav.active {
    height: 100%; /* Carpet display */
  }
  nav a {
    font-size: 1.8rem;
    color: #fff;
  }
}
@media only screen and (max-width: 37.05em) {
  .menu-toggle {
    margin-right: 10rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .menu-toggle {
    height: 2rem;
    width: 2rem;
    margin-right: 5rem;
  }
}
@media only screen and (max-width: 31.25em) and (max-width: 25em) {
  .menu-toggle {
    display: block; /* Make it visible for devices below 400px */
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
  }
}
.hero-section {
  display: grid;
  align-content: center;
  grid-column: full-start/full-end;
  background-image: linear-gradient(105deg, #6d5d4b, rgba(6, 124, 167, 0) 100%, transparent 30%), url(../img/planet7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 56.25em) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 37.05em) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 31.25em) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 25em) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  gap: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  align-items: start;
  padding: 0 5rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
}
.feature__icon {
  fill: #067ca7;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1);
}
.feature__text {
  font-size: 1.7rem;
  font-weight: 400;
}

.testimonial {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 3rem;
  padding: 2rem 3rem;
  margin: 4rem;
}
@media only screen and (max-width: 31.25em) {
  .testimonial {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding: 2rem 0rem;
    margin: 4rem;
  }
}
@media only screen and (max-width: 25em) {
  .testimonial {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    justify-content: space-evenly;
    gap: 3rem;
    padding: 2rem 4rem;
    margin: 4rem 1.2rem;
  }
}

.client {
  display: flex;
  flex-direction: column;
  background-color: #ede7e7;
  border-radius: 3rem;
  align-items: start;
  padding: 5rem 10rem;
  gap: 2rem;
}
@media only screen and (max-width: 31.25em) {
  .client {
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .client {
    padding: 2rem 4rem;
  }
}
.client__stars {
  display: flex;
}
.client__star {
  width: 2rem;
  height: 2rem;
  fill: #067ca7;
}
.client__testimony {
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
}

.info-section {
  background-color: #f9f7f6;
  grid-column: center-start/center-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 31.25em) {
  .info-section {
    justify-content: center;
  }
}
@media only screen and (max-width: 25em) {
  .info-section {
    justify-content: center;
    padding: 0 5rem;
  }
}
.info-section__text {
  text-align: center;
  font-size: 2.5rem;
}
@media only screen and (max-width: 31.25em) {
  .info-section__text {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 25em) {
  .info-section__text {
    text-align: center;
    font-size: 1.3rem;
  }
}

/* Social Media Icons Container */
.social-media-icons2 {
  display: flex;
  justify-content: center; /* Center the icons */
  gap: 2rem; /* Space between the icons */
  padding: 1rem 0; /* Add some padding at the top and bottom */
}
.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #00b1ef; /* Icon color */
  font-size: 2.3rem;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 2.3rem;
  height: 2.3rem;
  fill: #00b1ef;
}

/* Hover Effect for Social Icons */
.social-icon:hover {
  background-color: #007bff; /* Light blue background */
  color: #fff; /* White icon on hover */
  transform: scale(1.1); /* Slight zoom effect */
}

.call-to-action {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
}

.faq {
  background-color: #f9f7f6;
}

.footer {
  background-color: #067ca7;
  grid-column: full-start/full-end;
}

.location {
  background-color: #aaa;
  grid-column: center-start/center-end;
}

.services {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  margin: 10rem 0;
  align-items: start;
}
@media only screen and (max-width: 56.25em) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}

.service {
  display: grid;
  row-gap: 3rem;
  justify-items: center;
  padding: 0 10rem;
}
@media only screen and (max-width: 75em) {
  .service {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .service {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .service {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 37.05em) {
  .service {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .service {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 25em) {
  .service {
    padding: 0 7rem;
  }
}
.service__img {
  width: 100%;
  height: 25rem;
  border-radius: 0.7rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 68.75em) {
  .service__img {
    max-width: 100%;
    height: 20vh;
  }
}
@media only screen and (max-width: 56.25em) {
  .service__img {
    width: 100%;
    height: 40vh;
  }
}
@media only screen and (max-width: 37.05em) {
  .service__img {
    width: 100%;
    height: 25vh;
  }
}
@media only screen and (max-width: 31.25em) {
  .service__img {
    width: 100%;
    height: 25vh;
  }
}
@media only screen and (max-width: 25em) {
  .service__img {
    width: 100%;
    height: 25rem;
  }
}
.service__text {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 3rem;
}

.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 37.05em) {
  .hero-button {
    flex-direction: column;
    margin-right: 0;
  }
}
@media only screen and (max-width: 31.25em) {
  .hero-button {
    flex-direction: column;
    margin-right: 0;
  }
}
@media only screen and (max-width: 25em) {
  .hero-button {
    flex-direction: column;
    margin-right: 0;
  }
}
.hero-button__btn {
  background-color: transparent;
  margin-right: 2rem;
  width: 25rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  border: solid #f9f7f6;
  cursor: pointer;
  transition: all 0.2s;
  color: #f9f7f6;
}
.hero-button__btn:hover {
  background-color: #067ca7;
}
@media only screen and (max-width: 37.05em) {
  .hero-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 25em) {
  .hero-button__btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 26rem;
    height: 6rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #f9f7f6;
    cursor: pointer;
    transition: all 0.2s;
    color: #f9f7f6;
  }
}

.services-btn {
  background-color: transparent;
  margin-right: 2rem;
  width: 25rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  border: solid #00b1ef;
  cursor: pointer;
  transition: all 0.2s;
  color: #00b1ef;
}
.services-btn:hover {
  background-color: #067ca7;
  color: #f9f7f6;
}
@media only screen and (max-width: 31.25em) {
  .services-btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #00b1ef;
    cursor: pointer;
    transition: all 0.2s;
    color: #00b1ef;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .services-btn {
    background-color: transparent;
    width: 22rem;
    height: 6rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #00b1ef;
    cursor: pointer;
    transition: all 0.2s;
    color: #00b1ef;
    margin-bottom: 2rem;
  }
}

.know-button {
  display: grid;
  grid-column: 1/3;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.know-button__btn {
  background-color: #00b1ef;
  margin-right: 2rem;
  width: 25rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  border: solid #00b1ef;
  cursor: pointer;
  transition: all 0.2s;
  color: #6D5D4B;
}
.know-button__btn:hover {
  background-color: #067ca7;
  color: #f9f7f6;
}
@media only screen and (max-width: 37.05em) {
  .know-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 31.25em) {
  .know-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 25em) {
  .know-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 20rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}

/*# sourceMappingURL=style.css.map */
