mb-sm {
  margin-bottom: 2rem;
}

mb-md {
  margin-bottom: 3rem;
}

mb-lg {
  margin-bottom: 4rem;
}

mb-hg {
  margin-bottom: 8rem;
}

mt-sm {
  margin-top: 2rem;
}

mt-md {
  margin-top: 3rem;
}

mt-lg {
  margin-top: 4rem;
}

mt-hg {
  margin-top: 8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  display: grid;
}

.home-layout {
  grid-template-rows: 20vh 140vh min-content repeat(2, 50vw) repeat(9, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .home-layout {
    grid-template-rows: 20vh 100vh min-content repeat(2, 63vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .home-layout {
    grid-template-rows: 20vh 100vh min-content repeat(2, 55vw) repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .home-layout {
    grid-template-rows: 20vh 100vh min-content 330vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .home-layout {
    grid-template-rows: 20vh 100vh min-content 300vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .home-layout {
    grid-template-rows: 20vh 120vh min-content 300vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .home-layout {
    grid-template-rows: 20vh 100vh min-content 450vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}

.services-layout {
  grid-template-rows: 20vh 40vh repeat(7, min-content) 30vh repeat(2, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 75em) {
  .services-layout {
    grid-template-rows: 20vh 25vh repeat(7, min-content 30vh repeat(2, min-content));
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .services-layout {
    grid-template-rows: 20vh 25vh repeat(7, min-content) 30vh repeat(2, min-content);
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .services-layout {
    grid-template-rows: 20vh 30vh repeat(7, min-content) 30vh repeat(2, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 37.05em) {
  .services-layout {
    grid-template-rows: 20vh 30vh repeat(7, min-content) 30vh repeat(2, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .services-layout {
    grid-template-rows: 20vh 20vh repeat(7, min-content) 30vh repeat(2, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .services-layout {
    grid-template-rows: 20vh 20vh repeat(7, min-content) 30vh repeat(2, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  }
}

.info-heading, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 6rem;
  font-weight: 600;
  color: #f9f7f6;
}
@media only screen and (max-width: 56.25em) {
  .heading-1 {
    font-size: 5rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 37.05em) {
  .heading-1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 31.25em) {
  .heading-1 {
    font-size: 3.2rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 25em) {
  .heading-1 {
    font-size: 2rem;
    font-weight: 600;
  }
}

.heading-2 {
  font-size: 4rem;
  font-weight: 600;
  color: #f9f7f6;
}
.heading-2--light {
  color: #00b1ef;
}
.heading-2--dark {
  color: #067ca7;
}
@media only screen and (max-width: 31.25em) {
  .heading-2 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

.heading-3 {
  font-size: 2rem;
  font-weight: 600;
}
.heading-3--light {
  color: #f9f7f6;
}
.heading-3--dark {
  color: #54483A;
}

.heading-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.info-heading {
  font-size: 4rem;
  font-weight: 600;
  color: #00b1ef;
  text-align: center;
}
@media only screen and (max-width: 25em) {
  .info-heading {
    font-size: 2.4rem;
    font-weight: 600;
    color: #00b1ef;
    text-align: center;
  }
}

.scroll-up-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.7rem;
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-up-btn:hover {
  background-color: #555;
}

.scroll-up-btn.show {
  display: flex; /* Show when active */
  opacity: 1;
  transform: scale(1);
}

.scroll-up-btn.hide {
  opacity: 0;
  transform: scale(0.9);
}

.contact-info {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 4rem;
  column-gap: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .contact-info {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 37.05em) {
  .contact-info {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 25em) {
  .contact-info {
    grid-template-columns: 1fr;
  }
}

.contact-detail__heading {
  font-size: 5rem;
  font-weight: 800;
  color: #f9f7f6;
}
@media only screen and (max-width: 56.25em) {
  .contact-detail__heading {
    font-size: 3rem;
    font-weight: 800;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 37.05em) {
  .contact-detail__heading {
    font-size: 3rem;
    font-weight: 800;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 31.25em) {
  .contact-detail__heading {
    font-size: 3rem;
    font-weight: 800;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 25em) {
  .contact-detail__heading {
    font-size: 3rem;
    font-weight: 800;
    color: #f9f7f6;
  }
}
.contact-detail__text {
  font-size: 2rem;
  color: #f9f7f6;
}
/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media only screen and (max-width: 25em) {
  .contact-form {
    margin: auto;
  }
}

/* Form Row for Name, Phone, and Email */
.form-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .form-row {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 31.25em) {
  .form-row {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 25em) {
  .form-row {
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: #f8f9fa;
  transition: border-color 0.3s ease;
}
@media only screen and (max-width: 37.05em) {
  input,
  textarea {
    font-size: 1.2rem;
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 31.25em) {
  input,
  textarea {
    font-size: 1.2rem;
    width: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 25em) {
  input,
  textarea {
    font-size: 1rem;
    max-width: 100%;
    margin: auto;
  }
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  background-color: #fff;
}

textarea {
  resize: none;
}

.btn-submit {
  padding: 0.8rem 1.2rem;
  background-color: #f9f7f6;
  color: #067ca7;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media only screen and (max-width: 25em) {
  .btn-submit {
    width: 100%;
  }
}

.btn-submit:hover {
  background-color: #0056b3;
  color: #fff;
}

.btn-submit {
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  position: relative;
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
}

.logo-box {
  height: 20rem;
  width: 20rem;
}
@media only screen and (max-width: 25em) {
  .logo-box {
    width: 8rem;
    height: 10rem;
  }
}

.logo {
  width: 12rem;
  height: 15rem;
}
@media only screen and (max-width: 37.05em) {
  .logo {
    width: 10rem;
    height: 12rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .logo {
    width: 10rem;
    height: 12rem;
  }
}
@media only screen and (max-width: 25em) {
  .logo {
    width: 8rem;
    height: 10rem;
  }
}

.services-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 4rem 3rem;
  text-align: center;
}

.testimonial-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  height: 20vh;
}

.features-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  height: 20vh;
}

.location-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  justify-content: center;
  height: 20vh;
}

/* Social Media Icons Container */
.social-media-icons {
  display: flex;
  justify-content: space-between; /* Center the icons */
  align-items: center; /* Align them vertically */
  gap: 2rem; /* Space between the icons */
  padding: 1rem 0; /* Add some padding at the top and bottom */
  position: relative;
  top: -5rem;
  right: 0;
  bottom: 0;
  left: 67rem;
}
@media only screen and (max-width: 68.75em) {
  .social-media-icons {
    position: relative;
    top: -5rem;
    right: 0;
    bottom: 0;
    left: 50rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .social-media-icons {
    display: none;
  }
}
@media only screen and (max-width: 37.05em) {
  .social-media-icons {
    display: none;
  }
}
@media only screen and (max-width: 31.25em) {
  .social-media-icons {
    display: none;
  }
}
@media only screen and (max-width: 25em) {
  .social-media-icons {
    display: none;
  }
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #00b1ef;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 1.8rem;
  height: 1.8rem;
  fill: #00b1ef;
}

.social-icon:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
}

header.shrink {
  padding: 10px 10%;
  height: 13rem;
}

header.shrink .logo {
  width: 8rem;
  height: 11rem;
}

header.shrink nav ul li a {
  font-size: 13px;
}

main {
  margin-top: 100px;
  padding: 20px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: 700;
  margin-right: 2rem;
  transition: color 0.3s;
}
@media only screen and (max-width: 68.75em) {
  nav a {
    font-size: 1.5rem;
  }
}

nav a:hover {
  color: #555;
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 3000;
  transition: transform 0.3s ease;
  margin-right: 2rem;
}

.menu-toggle.active {
  transform: rotate(90deg);
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  z-index: 3001;
}

.close-btn {
  display: none;
  font-size: 3rem;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 3001;
}

@media only screen and (max-width: 56.25em) {
  .close-btn {
    display: block;
  }
}
@media only screen and (max-width: 56.25em) {
  .menu-toggle {
    display: block;
    width: 2rem;
    height: 2rem;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    transition: height 0.5s ease;
  }
  nav.active {
    height: 100%; /* Carpet display */
  }
  nav a {
    font-size: 1.8rem;
    color: #fff;
  }
}
@media only screen and (max-width: 37.05em) {
  .menu-toggle {
    margin-right: 10rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .menu-toggle {
    height: 2rem;
    width: 2rem;
    margin-right: 5rem;
  }
}
@media only screen and (max-width: 31.25em) and (max-width: 25em) {
  .menu-toggle {
    display: block; /* Make it visible for devices below 400px */
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
  }
}
.hero-section {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-column: full-start/full-end;
  background-image: linear-gradient(105deg, #6d5d4b, rgba(6, 124, 167, 0) 100%, transparent 30%), url(../img/planet7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 56.25em) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 37.05em) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 31.25em) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 25em) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
}

.hero-content {
  display: grid;
  row-gap: 3rem;
  text-align: center;
  padding: 0 2rem;
}
.hero-content__text {
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: 300;
  color: #f9f7f6;
  text-align: center;
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  gap: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 0 1rem;
}
@media only screen and (max-width: 68.75em) {
  .features {
    grid-template-columns: 3, 1fr;
  }
}
@media only screen and (max-width: 56.25em) {
  .features {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 37.05em) {
  .features {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 31.25em) {
  .features {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 25em) {
  .features {
    grid-template-columns: 1fr;
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
}
@media only screen and (max-width: 25em) {
  .feature {
    margin: auto;
    padding: 0;
  }
}
.feature__icon {
  fill: #067ca7;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1);
}
.feature__text {
  font-size: 1.7rem;
  font-weight: 400;
}

.testimonial {
  grid-column: full-start/full-end;
  display: grid;
  gap: 3rem;
  padding: 2rem 3rem;
  margin: 4rem;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 56.25em) {
  .testimonial {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 2rem 2rem;
    margin: auto;
  }
}
@media only screen and (max-width: 37.05em) {
  .testimonial {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 2rem 2rem;
    margin: auto;
  }
}
@media only screen and (max-width: 31.25em) {
  .testimonial {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 2rem 2rem;
    margin: auto;
  }
}
@media only screen and (max-width: 25em) {
  .testimonial {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
    margin: auto;
  }
}

.client {
  display: flex;
  flex-direction: column;
  background-color: #f6f4f4;
  border-radius: 3rem;
  align-items: start;
  padding: 5rem 5rem;
  gap: 2rem;
}
@media only screen and (max-width: 37.05em) {
  .client {
    margin: auto;
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .client {
    margin: auto;
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .client {
    margin: auto;
    padding: 2rem 3rem;
  }
}
.client__stars {
  display: flex;
}
.client__star {
  width: 2rem;
  height: 2rem;
  fill: #067ca7;
}
.client__testimony {
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
}

.services {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  margin: 10rem 0;
  align-items: start;
}
@media only screen and (max-width: 75em) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}
@media only screen and (max-width: 68.75em) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}
@media only screen and (max-width: 56.25em) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  }
}
@media only screen and (max-width: 31.25em) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
@media only screen and (max-width: 25em) {
  .services {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

.service {
  display: grid;
  row-gap: 3rem;
  justify-items: center;
  padding: 0 10rem;
}
@media only screen and (max-width: 75em) {
  .service {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .service {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .service {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 37.05em) {
  .service {
    padding: 0 10rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .service {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 25em) {
  .service {
    padding: 0 7rem;
  }
}
.service__img {
  width: 100%;
  height: 25rem;
  border-radius: 0.7rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 68.75em) {
  .service__img {
    max-width: 100%;
    height: 20vh;
  }
}
@media only screen and (max-width: 56.25em) {
  .service__img {
    width: 100%;
    height: 40vh;
  }
}
@media only screen and (max-width: 37.05em) {
  .service__img {
    width: 100%;
    height: 25vh;
  }
}
@media only screen and (max-width: 31.25em) {
  .service__img {
    width: 100%;
    height: 25vh;
  }
}
@media only screen and (max-width: 25em) {
  .service__img {
    width: 100%;
    height: 50vw;
  }
}
.service__text {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 3rem;
}

.info-section {
  background-color: #f9f7f6;
  grid-column: center-start/center-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 37.05em) {
  .info-section {
    justify-content: center;
    gap: 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .info-section {
    justify-content: center;
    padding: 0 4rem;
    gap: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .info-section {
    justify-content: center;
    padding: 0 7rem;
    gap: 2rem;
  }
}
.info-section__text {
  text-align: center;
  font-size: 2.5rem;
}
@media only screen and (max-width: 31.25em) {
  .info-section__text {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 25em) {
  .info-section__text {
    text-align: center;
    font-size: 1.3rem;
  }
}

/* Social Media Icons Container */
.social-media-icons2 {
  display: flex;
  justify-content: center; /* Center the icons */
  gap: 2rem; /* Space between the icons */
  padding: 1rem 0; /* Add some padding at the top and bottom */
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #00b1ef; /* Icon color */
  font-size: 2.3rem;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 2.3rem;
  height: 2.3rem;
  fill: #00b1ef;
}

/* Hover Effect for Social Icons */
.social-icon:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
}

.call-to-action {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
  display: grid;
  row-gap: 5rem;
  padding: 2rem 4rem;
}

.action-call {
  display: grid;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.action-call__heading {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #f9f7f6;
  text-transform: uppercase;
}
@media only screen and (max-width: 56.25em) {
  .action-call__heading {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 0.5rem;
    line-height: 1;
    color: #f9f7f6;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 37.05em) {
  .action-call__heading {
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1;
    color: #f9f7f6;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 31.25em) {
  .action-call__heading {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 500;
    line-height: 1;
    color: #f9f7f6;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 25em) {
  .action-call__heading {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1;
    color: #f9f7f6;
    text-transform: uppercase;
  }
}
.action-call__text {
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1;
  color: #f9f7f6;
}
@media only screen and (max-width: 56.25em) {
  .action-call__text {
    font-size: 1.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 37.05em) {
  .action-call__text {
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 31.25em) {
  .action-call__text {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 25em) {
  .action-call__text {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #f9f7f6;
  }
}

.faq-section {
  grid-column: center-start/center-end;
  display: grid;
  justify-content: flex-start;
  margin-top: 10rem;
}

.faq-heading {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.05em) {
  .faq-heading {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 31.25em) {
  .faq-heading {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 25em) {
  .faq-heading {
    font-size: 2rem;
    font-weight: 600;
    margin: auto;
    text-transform: uppercase;
  }
}

.faq-heading2 {
  font-size: 1.7rem;
  margin: auto;
}

/* FAQ Container */
.faq-container {
  width: 100%;
  margin: 2rem auto;
  padding: 0 1rem;
}
@media only screen and (max-width: 31.25em) {
  .faq-container {
    max-width: 100%;
    margin: 2rem auto;
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 25em) {
  .faq-container {
    width: 100%;
    margin: auto;
    padding: 0 1rem;
  }
}

.faq-item {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

/* FAQ Question */
.faq-question {
  background: #00b1ef;
  color: #6D5D4B;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  border: none;
  width: 100%;
  height: 6rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background: #067ca7;
}

/* Arrow */
.arrow {
  font-size: 3rem;
  transition: transform 0.3s ease;
  color: #6D5D4B;
  background-color: #fff;
  border-radius: 50%;
}

/* FAQ Answer */
.faq-answer {
  font-size: 1.7rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #f9f9f9;
  padding: 0 1rem;
}

.faq-answer p {
  margin: 1rem 0;
}

/* Open State */
.faq-item.open .faq-answer {
  max-height: 200px; /* Adjust as needed */
}

.faq-item.open .arrow {
  transform: rotate(90deg);
}

.footer {
  background-color: #067ca7;
  grid-column: full-start/full-end;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Footer Styles */
.footer {
  background-color: #067ca7;
  color: #fff;
  padding: 2rem 1rem;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 1rem;
}

.footer-logo p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #ccc;
}

.footer-links h3,
.footer-contact h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-icon {
  height: 2rem;
  width: 2rem;
  fill: #6D5D4B;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #007bff;
}

.footer-contact p {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.footer-contact a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-contact a:hover {
  color: #007bff;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #007bff;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #ccc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
}
.location {
  background-color: #f9f7f6;
  grid-column: center-start/center-end;
  display: grid;
}
@media only screen and (max-width: 25em) {
  .location {
    padding: 2rem;
    justify-content: center;
  }
}

.map-container {
  margin: 0; /* Remove any margins to make it full width */
  padding: 0;
  width: 100%;
  height: 450px;
  position: relative;
}
@media only screen and (max-width: 25em) {
  .map-container {
    width: 100%;
    margin: auto;
    padding: 0;
  }
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.map-description {
  margin: 1rem auto;
  text-align: center;
  font-size: 4rem;
  color: #555;
}
@media only screen and (max-width: 37.05em) {
  .map-description {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .map-description {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .map-description {
    font-size: 2rem;
  }
}

.services-banner {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
}

.services-banner {
  padding: 0 4rem;
}
.services-banner__text {
  font-size: 2rem;
  color: #f9f7f6;
}
@media only screen and (max-width: 75em) {
  .services-banner__text {
    font-size: 2.5rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 68.75em) {
  .services-banner__text {
    font-size: 2.5rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 56.25em) {
  .services-banner__text {
    font-size: 2.5rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 37.05em) {
  .services-banner__text {
    font-size: 2rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 31.25em) {
  .services-banner__text {
    font-size: 2.5rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 25em) {
  .services-banner__text {
    font-size: 1.6rem;
    color: #f9f7f6;
  }
}

.services-info {
  background-color: transparent;
  grid-column: full-start/full-end;
  padding: 2rem 3rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 68.75em) {
  .services-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 56.25em) {
  .services-info {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 37.05em) {
  .services-info {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 31.25em) {
  .services-info {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 25em) {
  .services-info {
    grid-template-columns: 1fr;
  }
}
.services-info__img {
  height: auto;
  width: 100%;
  border-radius: 1.4rem;
  box-shadow: 2rem 0 5rem rgba(84, 72, 58, 0.2);
}

.service-info {
  display: grid;
  align-content: center;
}
.service-info__heading {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  color: #00b1ef;
}
@media only screen and (max-width: 56.25em) {
  .service-info__heading {
    font-size: 2.9rem;
    color: #00b1ef;
  }
}
@media only screen and (max-width: 37.05em) {
  .service-info__heading {
    font-size: 2.4rem;
    color: #00b1ef;
  }
}
@media only screen and (max-width: 31.25em) {
  .service-info__heading {
    font-size: 2.4rem;
    color: #00b1ef;
  }
}
@media only screen and (max-width: 25em) {
  .service-info__heading {
    font-size: 2.4rem;
    color: #00b1ef;
  }
}
.service-info__text {
  font-size: 2rem;
  color: #54483A;
  text-justify: justify;
  word-spacing: 0.5rem;
}
@media only screen and (max-width: 37.05em) {
  .service-info__text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .service-info__text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .service-info__text {
    font-size: 2rem;
  }
}

.offers-heading {
  grid-column: full-start/full-end;
  padding: 0 4rem;
  display: grid;
  justify-content: center;
  margin-top: 3rem;
}
@media only screen and (max-width: 68.75em) {
  .offers-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .offers-heading {
    justify-content: center;
    align-items: center;
  }
}
.offers-heading__large {
  font-size: 4rem;
  color: #00b1ef;
  font-family: font-display;
  font-weight: 700;
}
@media only screen and (max-width: 31.25em) {
  .offers-heading__large {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 25em) {
  .offers-heading__large {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }
}
.offers-heading__small {
  font-size: 2rem;
  color: #54483A;
  text-align: center;
  font-weight: 700;
}

.services-offer {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10rem 0;
  gap: 2rem;
  align-items: start;
}
@media only screen and (max-width: 75em) {
  .services-offer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 68.75em) {
  .services-offer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 56.25em) {
  .services-offer {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 37.05em) {
  .services-offer {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 31.25em) {
  .services-offer {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 25em) {
  .services-offer {
    grid-template-columns: 1fr;
  }
}
.services-offer .service-offer {
  padding: 0 3rem;
}
@media only screen and (max-width: 25em) {
  .services-offer .service-offer {
    padding: 0 2rem;
  }
}
.services-offer .service-offer__heading {
  font-size: 2rem;
  color: #00b1ef;
  font-family: font-display;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .services-offer .service-offer__heading {
    font-size: 1.9rem;
    color: #00b1ef;
    font-family: font-display;
    font-weight: 700;
  }
}
.services-offer .service-offer__text {
  font-size: 2rem;
  color: #54483A;
  text-align: start;
}

.approaches-section-heading {
  grid-column: full-start/full-end;
  margin-top: 2rem;
}
.approaches-section-heading__large {
  font-size: 4rem;
  color: #00b1ef;
  font-family: font-display;
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 31.25em) {
  .approaches-section-heading__large {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 25em) {
  .approaches-section-heading__large {
    font-size: 2rem;
    justify-content: center;
  }
}
.approaches-section-heading__span {
  color: #000;
}
.approaches-section-heading__small {
  font-size: 2rem;
  color: #54483A;
  text-align: center;
  font-weight: 700;
}

.approaches {
  grid-column: col-start 2/col-start 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5rem 0;
  gap: 3rem;
  align-items: start;
}
@media only screen and (max-width: 75em) {
  .approaches {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 68.75em) {
  .approaches {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 56.25em) {
  .approaches {
    grid-column: full-start/full-start;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 37.05em) {
  .approaches {
    grid-column: full-start/full-start;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .approaches {
    grid-column: full-start/full-start;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .approaches {
    grid-column: full-start/full-start;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
}

.approach {
  padding: 1rem 3rem;
  background-color: #f6f4f4;
  height: 100%;
  border-radius: 2rem;
}
@media only screen and (max-width: 25em) {
  .approach {
    padding: 3rem 6rem;
  }
}
.approach__heading {
  font-size: 3rem;
  color: #54483A;
  font-family: font-display;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .approach__heading {
    font-size: 1.9rem;
    color: #00b1ef;
    font-family: font-display;
    font-weight: 700;
  }
}
.approach__text {
  font-size: 2rem;
  color: #54483A;
}

.pricing-section-heading {
  grid-column: full-start/full-end;
  margin-top: 2rem;
}
.pricing-section-heading__large {
  font-size: 5rem;
  color: #00b1ef;
  font-family: font-display;
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 31.25em) {
  .pricing-section-heading__large {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 25em) {
  .pricing-section-heading__large {
    font-size: 3rem;
    justify-content: center;
  }
}
.pricing-section-heading__small {
  font-size: 2rem;
  color: #54483A;
  text-align: center;
  font-weight: 700;
}
@media only screen and (max-width: 25em) {
  .pricing-section-heading__small {
    font-size: 1.8rem;
    justify-content: center;
  }
}

.pricing {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 0;
  gap: 2rem;
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .pricing {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 56.25em) {
  .pricing {
    grid-column: full-start/full-start;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 37.05em) {
  .pricing {
    grid-column: full-start/full-start;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .pricing {
    grid-column: full-start/full-start;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .pricing {
    grid-column: full-start/full-start;
    grid-template-columns: 1fr;
    padding: 1rem 2rem;
  }
}

.pricing-item {
  padding: 1rem 1rem;
}
.pricing-item__img {
  height: auto;
  max-width: 100%;
  border-radius: 1.4rem;
  box-shadow: 2rem 0 5rem rgba(84, 72, 58, 0.2);
}
.pricing-item__img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
@media only screen and (max-width: 25em) {
  .pricing-item__img {
    height: auto;
    max-width: 100%;
    border-radius: 1.4rem;
    box-shadow: 2rem 0 5rem rgba(84, 72, 58, 0.2);
  }
}
@media only screen and (max-width: 25em) {
  .pricing-item {
    height: auto;
    max-width: 100%;
    border-radius: 1.4rem;
    box-shadow: 2rem 0 5rem rgba(84, 72, 58, 0.2);
    padding: 3rem 4rem;
  }
}
.pricing-item__heading {
  font-size: 3rem;
  color: #54483A;
  font-family: font-display;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .pricing-item__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 68.75em) {
  .pricing-item__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 56.25em) {
  .pricing-item__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 37.05em) {
  .pricing-item__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 31.25em) {
  .pricing-item__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 25em) {
  .pricing-item__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
.pricing-item__price {
  font-size: 2rem;
  color: #067ca7;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}

.gallery-item:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Lightbox styles */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.lightbox:target {
  display: flex;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.lightbox-close:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.self-service-heading {
  background: #00b1ef;
  grid-column: full-start/full-end;
  justify-content: center;
  align-content: center;
  padding: 1rem 2rem;
}
.self-service-heading__large {
  font-size: 5rem;
  color: #f9f7f6;
  font-family: font-display;
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 31.25em) {
  .self-service-heading__large {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 25em) {
  .self-service-heading__large {
    font-size: 3rem;
    justify-content: center;
  }
}
.self-service-heading__small {
  font-size: 1.8rem;
  color: #54483A;
  text-align: center;
  font-weight: 700;
}
@media only screen and (max-width: 25em) {
  .self-service-heading__small {
    font-size: 1.8rem;
    justify-content: center;
  }
}

.self-services-section {
  grid-column: full-start/full-end;
  display: grid;
  margin: 2rem 0;
  gap: 2rem;
}

.self-services {
  grid-column: full-start/col-start 3;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 3rem;
  align-content: center;
  padding: 0 2rem;
}
@media only screen and (max-width: 56.25em) {
  .self-services {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 37.05em) {
  .self-services {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 31.25em) {
  .self-services {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 25em) {
  .self-services {
    grid-template-columns: 1fr;
  }
}

.self-service__heading {
  font-size: 3rem;
  color: #00b1ef;
  font-family: font-display;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .self-service__heading {
    font-size: 1.9rem;
    color: #00b1ef;
    font-family: font-display;
    font-weight: 700;
  }
}
.self-service__text {
  font-size: 2rem;
  color: #54483A;
  text-align: start;
}

.self-services-image {
  grid-column: col-start 5/col-start 7;
  padding: 0 4rem;
}
@media only screen and (max-width: 56.25em) {
  .self-services-image {
    grid-column: full-start/full-end;
  }
}
@media only screen and (max-width: 37.05em) {
  .self-services-image {
    grid-column: full-start/full-end;
  }
}
@media only screen and (max-width: 31.25em) {
  .self-services-image {
    grid-column: full-start/full-end;
  }
}
@media only screen and (max-width: 25em) {
  .self-services-image {
    grid-column: full-start/full-end;
  }
}
.self-services-image__heading {
  font-size: 2.5rem;
  color: #54483A;
  font-family: font-display;
  font-weight: 700;
}
@media only screen and (max-width: 75em) {
  .self-services-image__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 68.75em) {
  .self-services-image__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 56.25em) {
  .self-services-image__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 37.05em) {
  .self-services-image__heading {
    font-size: 1.9rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 31.25em) {
  .self-services-image__heading {
    font-size: 1.5rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
@media only screen and (max-width: 25em) {
  .self-services-image__heading {
    font-size: 1.7rem;
    color: #54483A;
    font-family: font-display;
    font-weight: 700;
  }
}
.self-services-image__span {
  color: #00b1ef;
}

.self-service-img {
  height: auto;
  width: 100%;
  border-radius: 1.4rem;
  box-shadow: 2rem 0 5rem rgba(84, 72, 58, 0.2);
}
@media only screen and (max-width: 31.25em) {
  .self-service-img {
    height: auto;
    max-width: 100%;
    border-radius: 1.4rem;
    box-shadow: 2rem 0 5rem rgba(84, 72, 58, 0.2);
  }
}
@media only screen and (max-width: 25em) {
  .self-service-img {
    height: auto;
    max-width: 100%;
    border-radius: 1.4rem;
    box-shadow: 2rem 0 5rem rgba(84, 72, 58, 0.2);
  }
}

.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 37.05em) {
  .hero-button {
    flex-direction: column;
    margin-right: 0;
  }
}
@media only screen and (max-width: 31.25em) {
  .hero-button {
    flex-direction: column;
    margin-right: 0;
  }
}
@media only screen and (max-width: 25em) {
  .hero-button {
    flex-direction: column;
    margin-right: 0;
  }
}
.hero-button__btn {
  background-color: transparent;
  margin-right: 2rem;
  width: 25rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  border: solid #f9f7f6;
  cursor: pointer;
  transition: all 0.2s;
  color: #f9f7f6;
}
.hero-button__btn:hover {
  background-color: #067ca7;
}
@media only screen and (max-width: 37.05em) {
  .hero-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 25em) {
  .hero-button__btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 26rem;
    height: 6rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #f9f7f6;
    cursor: pointer;
    transition: all 0.2s;
    color: #067ca7;
  }
}

.services-btn {
  background-color: transparent;
  margin-right: 2rem;
  width: 25rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  border: solid #00b1ef;
  cursor: pointer;
  transition: all 0.2s;
  color: #00b1ef;
}
.services-btn:hover {
  background-color: #067ca7;
  color: #f9f7f6;
}
@media only screen and (max-width: 37.05em) {
  .services-btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #00b1ef;
    cursor: pointer;
    transition: all 0.2s;
    color: #00b1ef;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 37.05em) {
  .services-btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #00b1ef;
    cursor: pointer;
    transition: all 0.2s;
    color: #00b1ef;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .services-btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #00b1ef;
    cursor: pointer;
    transition: all 0.2s;
    color: #00b1ef;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .services-btn {
    background-color: transparent;
    width: 22rem;
    height: 6rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #00b1ef;
    cursor: pointer;
    transition: all 0.2s;
    color: #00b1ef;
    margin-bottom: 2rem;
  }
}

.know-button {
  display: grid;
  grid-column: 1/3;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.know-button__btn {
  background-color: #00b1ef;
  margin-right: 2rem;
  width: 25rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  border: solid #00b1ef;
  cursor: pointer;
  transition: all 0.2s;
  color: #6D5D4B;
}
.know-button__btn:hover {
  background-color: #067ca7;
  color: #f9f7f6;
}
@media only screen and (max-width: 37.05em) {
  .know-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 31.25em) {
  .know-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}
@media only screen and (max-width: 25em) {
  .know-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 20rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}

.action-button__btn {
  background-color: transparent;
  width: 35rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  border: solid #f9f7f6;
  cursor: pointer;
  transition: all 0.2s;
  color: #54483A;
}
.action-button__btn:hover {
  background-color: #067ca7;
  color: #f9f7f6;
}
@media only screen and (max-width: 56.25em) {
  .action-button__btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 24rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #f9f7f6;
    cursor: pointer;
    transition: all 0.2s;
    color: #6D5D4B;
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 37.05em) {
  .action-button__btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #00b1ef;
    cursor: pointer;
    transition: all 0.2s;
    color: #00b1ef;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .action-button__btn {
    background-color: transparent;
    margin-right: 2rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #f9f7f6;
    cursor: pointer;
    transition: all 0.2s;
    color: #6D5D4B;
  }
}
@media only screen and (max-width: 25em) {
  .action-button__btn {
    background-color: transparent;
    width: 22rem;
    height: 6rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3rem;
    border: solid #f9f7f6;
    cursor: pointer;
    transition: all 0.2s;
    color: #54483A;
  }
  .action-button__btn:hover {
    background-color: #067ca7;
    color: #f9f7f6;
  }
}

/*# sourceMappingURL=style.css.map */
