.logo-box {
  height: 20rem;
  width: 20rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 20vh 140vh min-content repeat(2, 40vw) repeat(9, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 37.05em) {
  .container {
    grid-template-rows: 20vh 100vh min-content repeat(2, 40vw) repeat(9, min-content);
  }
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 5rem;
  font-weight: 600;
  color: #f9f7f6;
}

.heading-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.hero-content {
  text-align: center;
  padding: 0 2rem;
}
.hero-content__text {
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: 300;
  color: #f9f7f6;
  text-align: center;
}

.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 37.05em) {
  .hero-button {
    flex-direction: column;
  }
}
.hero-button__btn {
  background-color: transparent;
  margin-right: 2rem;
  width: 25rem;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  border: solid #f9f7f6;
  cursor: pointer;
  transition: all 0.2s;
  color: #f9f7f6;
}
.hero-button__btn:hover {
  background-color: #067ca7;
}
@media only screen and (max-width: 37.05em) {
  .hero-button__btn {
    margin-top: 2rem;
    padding: 1rem;
    width: 25rem;
    height: 5rem;
    font-size: 1.3rem;
    border-radius: 1.8rem;
    color: #f9f7f6;
  }
}

.contact-form {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
}

.header {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
}

.logo {
  width: 15rem;
  height: 15rem;
}

.services-header {
  background-color: #067ca7;
  grid-column: full-start/full-end;
}

.testimonial-header {
  background-color: #aaa;
  grid-column: full-start/full-end;
}

.features-header {
  background-color: #54483A;
  grid-column: full-start/full-end;
}

.location-header {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: relative;
  z-index: 2000;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: 700;
  transition: color 0.3s;
}

nav a:hover {
  color: #067ca7;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3000;
  transition: transform 0.3s ease;
}

.menu-toggle.active {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    transition: height 0.5s ease;
  }
}
@media (max-width: 768px) and (max-width: 576px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    transition: height 0.5s ease;
  }
  nav.active {
    height: 100%;
  }
  nav a {
    font-size: 1.5rem;
    color: #fff;
  }
  .menu-toggle {
    display: block;
    fill: #067ca7;
    height: 2rem;
    width: 2rem;
  }
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: full-start/full-end;
  background-image: linear-gradient(105deg, #6d5d4b, rgba(6, 124, 167, 0) 100%, transparent 30%), url(../img/planet7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1.5rem 4rem rgba(0, 177, 239, 0.2);
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  gap: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
}
.feature__icon {
  fill: #067ca7;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1);
}
.feature__text {
  font-size: 1.7rem;
  font-weight: 400;
}

.testimonial {
  background-color: #6D5D4B;
  grid-column: full-start/full-end;
}

.info-section {
  background-color: #f9f7f6;
  grid-column: center-start/center-end;
}

.call-to-action {
  background-color: #00b1ef;
  grid-column: full-start/full-end;
}

.faq {
  background-color: #f9f7f6;
}

.footer {
  background-color: #067ca7;
  grid-column: full-start/full-end;
}

.location {
  background-color: #aaa;
  grid-column: center-start/center-end;
}

.services {
  background-color: #aaa;
  grid-column: center-start/center-end;
}

/*# sourceMappingURL=style.css.map */
