// COLOR VARIABLES
$color-primary: #00b1ef;
$color-primary-dark:#067ca7;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #f6f4f4;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Poppins', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;

// HEAD LOGO




$bp-largest: 75em;  // 1200px/16 = 75em
$bp-large:68.75em; //1100px/16
$bp-medium:56.25em; //900px/16
$bp-small:37.05em; //600px/16
$bp-smaller:31.25em; //500px/16
$bp-smallest:25em; //400px/16
//////////////////////////////
/// margins
mb-sm {margin-bottom: 2rem;}
mb-md {margin-bottom: 3rem;}
mb-lg{margin-bottom: 4rem;}
mb-hg {margin-bottom: 8rem;}


mt-sm {margin-top: 2rem;}
mt-md {margin-top: 3rem;}
mt-lg{margin-top: 4rem;}
mt-hg {margin-top: 8rem;}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px 1rem = 10px 

}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
    overflow-x: hidden;
}


.container {
   display: grid;
}

.home-layout {
     
     grid-template-rows: 20vh 140vh min-content repeat(2, 50vw) repeat(9, min-content);
     grid-template-columns: [full-start] minmax(6rem, 1fr)  [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

     
     @media only screen and (max-width: $bp-largest) {
        grid-template-rows: 20vh 100vh min-content repeat(2, 63vw) repeat(9, min-content);
        grid-template-columns: repeat(auto-fit, minmax(1fr));

  } 
     
     
     @media only screen and (max-width: $bp-large) {
        grid-template-rows: 20vh 100vh min-content repeat(2, 55vw) repeat(9, min-content);
        grid-template-columns: repeat(auto-fit, minmax(1fr));

  } 
     
     
     
     @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 20vh 100vh min-content 330vw min-content repeat(9, min-content);
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  } 
     
     
     @media only screen and (max-width: $bp-small) {
        grid-template-rows: 20vh 100vh min-content  300vw min-content repeat(9, min-content);
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

  }

     @media only screen and (max-width: $bp-smaller) {
    grid-template-rows: 20vh 120vh min-content  300vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));

}
    

@media only screen and (max-width: $bp-smallest) {
    grid-template-rows: 20vh 100vh min-content  450vw min-content repeat(9, min-content);
    grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));
    
   
   


}

    
}



.services-layout {
   
    grid-template-rows: 20vh  40vh repeat(7, min-content) 30vh  min-content 30vh  min-content min-content;  
    grid-template-columns: [full-start] minmax(6rem, 1fr)  [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

    
    @media only screen and (max-width: $bp-largest) {
      grid-template-rows: 20vh  30vh repeat(7, min-content) 30vh  min-content 30vh  min-content min-content;  
       grid-template-columns: repeat(auto-fit, minmax(1fr));

 } 
    
    
    @media only screen and (max-width: $bp-large) {
      grid-template-rows: 20vh  30vh repeat(7, min-content) 30vh  min-content 30vh  min-content min-content;       
      grid-template-columns: repeat(auto-fit, minmax(1fr));

 } 
    
    
    
    @media only screen and (max-width: $bp-medium) {
      grid-template-rows: 20vh  30vh repeat(7, min-content) 30vh  min-content 30vh  min-content min-content;     
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

 } 
    
    
    @media only screen and (max-width: $bp-small) {
      grid-template-rows: 20vh  30vh repeat(7, min-content) 30vh  min-content 30vh  min-content min-content;       
      grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));

 }

    @media only screen and (max-width: $bp-smaller) {
      grid-template-rows: 20vh  25vh repeat(7, min-content) 30vh  min-content 30vh  min-content min-content;     
   grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));

}
   

@media only screen and (max-width: $bp-smallest) {
   grid-template-rows: 20vh  25vh repeat(7, min-content) 30vh  min-content 30vh  min-content min-content;     
   grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
   
  
  


}

   
}




.pickup-layout {
   
   grid-template-rows: 20vh  120vh    repeat(4, min-content) ;  
   grid-template-columns: [full-start] minmax(6rem, 1fr)  [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

   
   @media only screen and (max-width: $bp-largest) {
      grid-template-rows: 20vh  120vh    repeat(4, min-content) ;    
      grid-template-columns: repeat(auto-fit, minmax(1fr));

} 
   
   
   @media only screen and (max-width: $bp-large) {
    grid-template-rows: 20vh  120vh    repeat(4, min-content) ;         
     grid-template-columns: repeat(auto-fit, minmax(1fr));

} 
   
   
   
   @media only screen and (max-width: $bp-medium) {
      grid-template-rows: 20vh  120vh    repeat(4, min-content) ;      
     grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

} 
   
   
   @media only screen and (max-width: $bp-small) {
      grid-template-rows: 20vh  120vh    repeat(4, min-content) ;          
     grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));

}

   @media only screen and (max-width: $bp-smaller) {
   grid-template-rows: 20vh  120vh    repeat(4, min-content) ;       
  grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));

}
  

@media only screen and (max-width: $bp-smallest) {
   grid-template-rows: 20vh  120vh    repeat(4, min-content) ;      
  grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  
 
 


}

  
}


.about-layout {
   
   grid-template-rows: 20vh  min-content 40vh  repeat(2, min-content) ;  
   grid-template-columns: [full-start] minmax(6rem, 1fr)  [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

   
   @media only screen and (max-width: $bp-largest) {
      grid-template-rows: 20vh  min-content 40vh  repeat(2, min-content) ;      
      grid-template-columns: repeat(auto-fit, minmax(1fr));

} 
   
   
   @media only screen and (max-width: $bp-large) {
      grid-template-rows: 20vh  min-content 40vh  repeat(2, min-content) ;            
     grid-template-columns: repeat(auto-fit, minmax(1fr));

} 
   
   
   
   @media only screen and (max-width: $bp-medium) {
      grid-template-rows: 20vh    repeat(3, min-content) ;       
     grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

} 
   
   
   @media only screen and (max-width: $bp-small) {
      grid-template-rows: 20vh   repeat(4, min-content) ;           
     grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));

}

   @media only screen and (max-width: $bp-smaller) {
      grid-template-rows: 20vh  repeat(4, min-content) ;          
  grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));

}
  

@media only screen and (max-width: $bp-smallest) {
   grid-template-rows: 20vh  repeat(4, min-content) ;        
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  
 
 


}

  
}

.contact-layout {
   
   grid-template-rows: 20vh  60vh    repeat(3, min-content) ;  
   grid-template-columns: [full-start] minmax(6rem, 1fr)  [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

   
   @media only screen and (max-width: $bp-largest) {
      grid-template-rows: 20vh  120vh    repeat(4, min-content) ;    
      grid-template-columns: repeat(auto-fit, minmax(1fr));

} 
   
   
   @media only screen and (max-width: $bp-large) {
    grid-template-rows: 20vh  120vh    repeat(4, min-content) ;         
     grid-template-columns: repeat(auto-fit, minmax(1fr));

} 
   
   
   
   @media only screen and (max-width: $bp-medium) {
      grid-template-rows: 20vh  120vh    repeat(4, min-content) ;      
     grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

} 
   
   
   @media only screen and (max-width: $bp-small) {
      grid-template-rows: 20vh  120vh    repeat(4, min-content) ;          
     grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));

}

   @media only screen and (max-width: $bp-smaller) {
   grid-template-rows: 20vh  120vh    repeat(4, min-content) ;       
  grid-template-columns: repeat(auto-fit, minmax(0vw, 1fr));

}
  

@media only screen and (max-width: $bp-smallest) {
   grid-template-rows: 20vh  120vh    repeat(4, min-content) ;      
  grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  
 
 


}

  
}



