.faq-section {
    grid-column: center-start / center-end;
    // grid-template-columns: repeat(auto-fit, minmax(15vw));


    display: grid;
    justify-content: flex-start;




    
}

.faq-heading {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        
            
        }

        @media only screen and (max-width: $bp-smaller) {
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            
                
            }

            @media only screen and (max-width: $bp-smallest) {
                font-size: 2rem;
                font-weight: 600;
                margin: auto;
                text-transform: uppercase;
                
                    
                }
}

.faq-heading2 {
    font-size: 1.7rem;
    margin: auto;
}


/* FAQ Container */
.faq-container {
    
    max-width: 100%;
    margin: 2rem auto;
    padding: 0 1rem;

    @media only screen and (max-width: $bp-smaller) {
      
        max-width: 100%;
        margin: 2rem auto;
        padding: 0 5rem;
            
        }


        @media only screen and (max-width: $bp-smallest) {
      
            max-width: 100%;
            // justify-content: flex-start;
            margin-right: auto;
            padding: 0 8rem;
                
            }
}

.faq-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

/* FAQ Question */
.faq-question {
    background: $color-primary;    
    color: $color-grey-dark-2;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border: none;
    width: 100%;
    height: 6rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background: $color-primary-dark;
}

/* Arrow */
.arrow {
    font-size: 3rem;
    transition: transform 0.3s ease;
    color: $color-grey-dark-2;
    background-color: #fff;
    border-radius: 50%;
}

/* FAQ Answer */
.faq-answer {
    font-size: 1.7rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #f9f9f9;
    padding: 0 1rem;
}

.faq-answer p {
    margin: 1rem 0;
}

/* Open State */
.faq-item.open .faq-answer {
    max-height: 200px; /* Adjust as needed */
}

.faq-item.open .arrow {
    transform: rotate(90deg);
}