.features {
 
    grid-column: center-start / center-end;

   margin: 15rem 0;
   gap: 6rem;


    display: grid;
    grid-template-columns: repeat((3, 1fr)) ;
   
    align-items: start;

    padding: 0 1rem;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: (3,1fr);
    }


    @media only screen and (max-width: $bp-medium) {
        grid-template-columns:(1fr);
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: (1fr);
    }

    @media only screen and (max-width: $bp-smaller) {
        grid-template-columns: (1fr) ;
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: (1fr) ;
    }
   


}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(0rem,1fr));
    row-gap: 1.5rem;
    column-gap: 2.5rem;

    @media only screen and (max-width: $bp-smallest) {
        margin: auto;
        padding: 0 ;

    }


    &__icon {
        fill: $color-primary-dark;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 /span 2;
        transform: translateY(-1);



    }

   

    &__text {
        font-size: 1.7rem;
        font-weight: 400;

    }
}