.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    position: relative;

 
   
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;

    
   
    

   

   
}


// .header.fixed-header {
//     width: 100%;
//     position: fixed;        
//     padding: 10px 0;
//     color: #fff;
//     top: 0;
// }





.logo-box {
    height: 20rem;
    width: 20rem;

    @media only screen and (max-width:$bp-smallest) {
        width: 8rem;
        height: 10rem;

    }

   
    
}




.logo {
    width: 12rem;
    height: 15rem;


    @media only screen and (max-width:$bp-small) {
        width: 10rem;
        height: 12rem;

    }

    @media only screen and (max-width:$bp-smaller) {
        width: 10rem;
        height: 12rem;

    }


    @media only screen and (max-width:$bp-smallest) {
        width: 8rem;
        height: 10rem;

    }
    
}







.services-header {
    background-color: $color-primary;
    grid-column: full-start / full-end;

    display: grid;
    align-content: center;
    justify-items: center;
    padding: 4rem 3rem;
    text-align: center;

    
}


.testimonial-header {
    background-color: $color-primary;
    grid-column: full-start / full-end;

    display: grid;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    height: 20vh;
}


.features-header {
    background-color: $color-primary;
    grid-column: full-start / full-end;

    display: grid;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    height: 20vh;
}

.location-header {
    background-color: $color-primary;
    grid-column: full-start / full-end;

    display: grid;
    justify-content: center;
    height: 20vh;
}




/* Social Media Icons Container */
.social-media-icons {
    display: flex;
    justify-content: space-between; /* Center the icons */
    align-items: center; /* Align them vertically */
    gap: 2rem; /* Space between the icons */
    padding: 1rem 0; /* Add some padding at the top and bottom */
    position: relative;
    top: -5rem;
    right: 0;
    bottom: 0;
    left: 67rem;
  

    @media only screen and (max-width: $bp-large) {

        position: relative;
        top: -5rem;
        right: 0;
        bottom: 0;
        left: 50rem
       
    }

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    @media only screen and (max-width: $bp-small) {
        display: none;
    }

    @media only screen and (max-width: $bp-smaller) {
        display: none;
    }


    @media only screen and (max-width: $bp-smallest) {
        display: none;
    }


    
}


.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    color: $color-primary; 
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 1.8rem;
    height: 1.8rem;
    fill: $color-primary;
   
}


.social-icon:hover {
    background-color: #007bff; 
    color: #fff; 
    transform: scale(1.1); 
}


///////////////////////////////
/// HEADER SHRINKING EFFECT



header.shrink {
    padding: 10px 10%;
    height: 13rem;
}



header.shrink .logo {
    width: 8rem;
    height: 11rem;
}



header.shrink nav ul li a {
    font-size: 13px;
}

main {
    margin-top: 100px;
    padding: 20px;
}