.header {
    background-color: $color-grey-light-1;
    grid-column: full-start / full-end;

   
}




.logo {
    width: 12rem;
    height: 15rem;


    @media only screen and (max-width:$bp-small) {
        width: 10rem;
        height: 12rem;

    }
    
}







.services-header {
    background-color: $color-primary;
    grid-column: full-start / full-end;

    display: grid;
    align-content: center;
    justify-items: center;
    padding: 4rem 3rem;
    text-align: center;

    
}


.testimonial-header {
    background-color: $color-grey-light-2;
    grid-column: full-start / full-end;
}


.features-header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / full-end;
}

.location-header {
    background-color: $color-primary;
    grid-column: full-start / full-end;
}



