.hero-section {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-column:full-start /full-end ;


    
   

    background-image:linear-gradient( 
    rgba($color-grey-dark-2, 0.7),
    rgba($color-grey-dark-1, 0.7) 100%,
    
    transparent 100%), 
    
    
    url(../img/planet7.jpg);
    background-size: cover; // or 100% value
    background-repeat: no-repeat;


    @media only screen and (max-width:$bp-medium) {
        background-size: cover;// or 100% value
       background-position: center;
       background-repeat: no-repeat;

    }

    @media only screen and (max-width:$bp-small) {
        background-size: cover;// or 100% value
       background-position: center;
       background-repeat: no-repeat;
      
   }

    @media only screen and (max-width:$bp-smaller) {
         background-size: cover;// or 100% value
        background-position: center;
        background-repeat: no-repeat;
       
    
        

    }

    @media only screen and (max-width:$bp-smallest) {
        background-size: cover;// or 100% value
       background-position: center;
       background-repeat: no-repeat;
       overflow-x: hidden;
      
   
       

   }

}



.hero-content {
    display: grid;
    row-gap: 3rem;
    text-align: center;
    padding: 0 2rem;
 
 
    

    

    &__text {
        padding: 0 4rem;
        font-size: 2rem;
        font-weight:300 ;
        color: $color-grey-light-1;
        text-align: center;


    }

   

    
}




