.hero-section {
    grid-column:full-start /col-end 8 ;
    grid-template-columns: repeat(auto-fit, minmax(15rem));

    background-image:linear-gradient( 200deg, 
    rgba($color-primary, 10),
    rgba($color-primary-dark, .6) 30%,
    
    transparent 59%), 
    
    
    url(../img/planet9.jpg);
    background-size: cover; // or 100% value
    background-repeat: no-repeat;
    box-shadow: 0 1.5rem 4rem rgba($color-primary, .2);

}



.hero-section2 {
    grid-column: col-end 8 / full-end;
    grid-template-columns: repeat(auto-fit, minmax(20rem));

    background-image:linear-gradient( 105deg, 
    rgba($color-primary, 8),
    rgba($color-primary-dark, .2) 50%,
    
    transparent 100%), 
    
    
    url(../img/planet7.jpg);
    background-size: contain; // or 100% value
    background-repeat: repeat;
    box-shadow: 0 1.5rem 4rem rgba($color-primary, .2);
}