
.info-section {
    background-color: $color-grey-light-1;
    grid-column: center-start / center-end;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    @media only screen and (max-width:$bp-small) {
        justify-content: center;
        gap: 2rem;
    }


    @media only screen and (max-width:$bp-smaller) {
            justify-content: center;
            padding: 0 4rem;
            gap: 2rem;
        }

        @media only screen and (max-width:$bp-smallest) {
            justify-content: center;
            padding: 0 7rem;
            gap: 2rem;
        }
   

 
    &__text {
        text-align: center;
        font-size: 2.5rem;
        
        @media only screen and (max-width:$bp-smaller) {
            text-align: center;
            font-size: 1.6rem;
        }

        @media only screen and (max-width:$bp-smallest) {
            text-align: center;
            font-size: 1.3rem;
        }
    }

}



/* Social Media Icons Container */
.social-media-icons2 {
    display: flex;
    justify-content: center; /* Center the icons */
   
    gap: 2rem; /* Space between the icons */
    padding: 1rem 0; /* Add some padding at the top and bottom */
    

    

   


    
}


.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    color: $color-primary; /* Icon color */
    font-size: 2.3rem;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 2.3rem;
    height: 2.3rem;
    fill: $color-primary;
   
}

/* Hover Effect for Social Icons */
.social-icon:hover {
    background-color: #007bff; 
    color: #fff; 
    transform: scale(1.1); 
}



.call-to-action {
    background-color: $color-primary;
    grid-column: full-start / full-end;
    display: grid;
    row-gap: 5rem;
  

  
   
    padding: 2rem 4rem;

   
}



.action-call {
    display: grid;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
   


    &__heading {
        font-size: 4rem;
        font-family: $font-display;
        font-weight: 500;
        line-height: 1;
        color: $color-grey-light-1;
        text-transform: uppercase;
       

         @media only screen and (max-width: $bp-medium) {
            font-size: 3rem;
            font-family: $font-display;
            font-weight: 500;
            letter-spacing: .5rem;
            line-height: 1;
            color: $color-grey-light-1;
            text-transform: uppercase;
      
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
        font-family: $font-display;
        font-weight: 500;
        line-height: 1;
        color: $color-grey-light-1;
        text-transform: uppercase;
        
    }

    @media only screen and (max-width: $bp-smaller) {
        font-size: 2.5rem;
        font-family: $font-display;
        letter-spacing: .3rem;
        font-weight: 500;
        line-height: 1;
        color: $color-grey-light-1;
        text-transform: uppercase;
        
        
    }


    @media only screen and (max-width: $bp-smallest) {
        font-size: 2rem;
        font-family: $font-display;
        font-weight: 500;
        line-height: 1;
        color: $color-grey-light-1;
        text-transform: uppercase;
       
    }

    }


    &__text {
        font-size: 2.1rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;

        @media only screen and (max-width: $bp-medium) {
        font-size: 1.9rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;
       
           
      
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 1.7rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;
       
        
    }

    @media only screen and (max-width: $bp-smaller) {
        font-size: 2rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;
        
        
    }


    @media only screen and (max-width: $bp-smallest) {
        font-size: 2rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;
        
       
    }

        

    }

    
}