.services {
   
    grid-column: center-start / center-end;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    margin: 10rem 0;

    align-items: start;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

  
  }

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

  
  }


    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

  
  }

  @media only screen and (max-width: $bp-smaller) {

    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));

}


  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

}
   
}

.service {
     display: grid;
     row-gap: 3rem;
     justify-items: center;
     padding: 0 10rem;

     @media only screen and (max-width: $bp-largest) {
      padding: 0 2rem;
  
}

     @media only screen and (max-width: $bp-large) {
        padding: 0 2rem;
    
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0  10rem;

}

     @media only screen and (max-width: $bp-small) {
        padding: 0 10rem;
    
  }

  @media only screen and (max-width: $bp-smaller) {
    padding: 0 5rem;

}

@media only screen and (max-width: $bp-smallest) {
  padding: 0 7rem;

}

    &__img {
       

        width: 100%;
        height: 25rem;
        border-radius: .7rem;
        box-shadow: 0 2rem 5rem rgba(#000, .3);

        @media only screen and (max-width: $bp-large) {
            max-width: 100%;
            height: 20vh;
        
      }

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        height: 40vh;
    
  }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
            height: 25vh;
        
      }

      @media only screen and (max-width: $bp-smaller) {
        width: 100%;
        height: 25vh;
    
  }

  @media only screen and (max-width: $bp-smallest) {
    width: 100%;
    height: 50vw;

}

    }


    &__text {

        font-size: 1.6rem;
        text-align: left;
        margin-bottom: 3rem;

    }

}





.info-section {
    background-color: $color-grey-light-1;
    grid-column: center-start / center-end;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    @media only screen and (max-width:$bp-small) {
        justify-content: center;
        gap: 2rem;
    }


    @media only screen and (max-width:$bp-smaller) {
            justify-content: center;
            padding: 0 4rem;
            gap: 2rem;
        }

        @media only screen and (max-width:$bp-smallest) {
            justify-content: center;
            padding: 0 7rem;
            gap: 2rem;
        }
   

 
    &__text {
        text-align: center;
        font-size: 2.5rem;
        
        @media only screen and (max-width:$bp-smaller) {
            text-align: center;
            font-size: 1.6rem;
        }

        @media only screen and (max-width:$bp-smallest) {
            text-align: center;
            font-size: 1.3rem;
        }
    }

}



/* Social Media Icons Container */
.social-media-icons2 {
    display: flex;
    justify-content: center; /* Center the icons */
   
    gap: 2rem; /* Space between the icons */
    padding: 1rem 0; /* Add some padding at the top and bottom */
    

    

   


    
}


.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    color: $color-primary; /* Icon color */
    font-size: 2.3rem;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 2.3rem;
    height: 2.3rem;
    fill: $color-primary;
   
}

/* Hover Effect for Social Icons */
.social-icon:hover {
    background-color: #007bff; 
    color: #fff; 
    transform: scale(1.1); 
}



.call-to-action {
    background-color: $color-primary;
    grid-column: full-start / full-end;
    display: grid;
    row-gap: 5rem;
  

  
   
    padding: 2rem 4rem;

   
}



.action-call {
    display: grid;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
   


    &__heading {
        font-size: 4rem;
        font-family: $font-display;
        font-weight: 500;
        line-height: 1;
        color: $color-grey-light-1;
        text-transform: uppercase;
       

         @media only screen and (max-width: $bp-medium) {
            font-size: 3rem;
            font-family: $font-display;
            font-weight: 500;
            letter-spacing: .5rem;
            line-height: 1;
            color: $color-grey-light-1;
            text-transform: uppercase;
      
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 4rem;
        font-family: $font-display;
        font-weight: 500;
        line-height: 1;
        color: $color-grey-light-1;
        text-transform: uppercase;
        
    }

    @media only screen and (max-width: $bp-smaller) {
        font-size: 2.5rem;
        font-family: $font-display;
        letter-spacing: .3rem;
        font-weight: 500;
        line-height: 1;
        color: $color-grey-light-1;
        text-transform: uppercase;
        
        
    }


    @media only screen and (max-width: $bp-smallest) {
        font-size: 2rem;
        font-family: $font-display;
        font-weight: 500;
        line-height: 1;
        color: $color-grey-light-1;
        text-transform: uppercase;
       
    }

    }


    &__text {
        font-size: 2.1rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;

        @media only screen and (max-width: $bp-medium) {
        font-size: 1.9rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;
       
           
      
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 1.7rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;
       
        
    }

    @media only screen and (max-width: $bp-smaller) {
        font-size: 2rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;
        
        
    }


    @media only screen and (max-width: $bp-smallest) {
        font-size: 2rem;
        font-family: $font-display;
        font-weight:300;
        line-height: 1;
        color: $color-grey-light-1;
        
       
    }

        

    }

    
}