
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    z-index: 2000;
   
}



nav {
    display: flex;
    gap: 20px;
    margin-right: 15rem;

    
 
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 700;
    transition: color 0.3s;


   
}

nav a:hover {
    color: $color-primary-dark;
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 3000;
    transition: transform 0.3s ease;
}

.menu-toggle.active {
    transform: rotate(90deg);
}




@media only screen and (max-width: $bp-medium) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 1000;
        transition: height 0.5s ease;
    }

    
@media only screen and (max-width: $bp-small) {
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.9);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            z-index: 1000;
            transition: height 0.5s ease;
        }

    

    nav.active {
        height: 100%;
    }

    nav a {
        font-size: 1.8rem;
        color: #fff;
    }

    .menu-toggle {
        display: block;
        fill: $color-primary-dark;
        height: 2rem;
        width: 2rem;
    }

    } 

}