.services {
   
    grid-column: center-start / center-end;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    margin: 10rem 0;

    align-items: start;

    @media only screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

  
  }

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

  
  }


    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

  
  }

  @media only screen and (max-width: $bp-smaller) {

    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));

}


  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

}
   
}

.service {
     display: grid;
     row-gap: 3rem;
     justify-items: center;
     padding: 0 10rem;

     @media only screen and (max-width: $bp-largest) {
      padding: 0 2rem;
  
}

     @media only screen and (max-width: $bp-large) {
        padding: 0 2rem;
    
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0  10rem;

}

     @media only screen and (max-width: $bp-small) {
        padding: 0 10rem;
    
  }

  @media only screen and (max-width: $bp-smaller) {
    padding: 0 5rem;

}

@media only screen and (max-width: $bp-smallest) {
  padding: 0 7rem;

}

    &__img {
       

        width: 100%;
        height: 25rem;
        border-radius: .7rem;
        box-shadow: 0 2rem 5rem rgba(#000, .3);

        @media only screen and (max-width: $bp-large) {
            max-width: 100%;
            height: 20vh;
        
      }

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        height: 40vh;
    
  }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
            height: 25vh;
        
      }

      @media only screen and (max-width: $bp-smaller) {
        width: 100%;
        height: 25vh;
    
  }

  @media only screen and (max-width: $bp-smallest) {
    width: 100%;
    height: 50vw;

}

    }


    &__text {

        font-size: 1.6rem;
        text-align: left;
        margin-bottom: 3rem;

    }

}


.banner-top {
  background-color: $color-primary;
  grid-column: full-start / full-end;



}

.banner-top {
  padding: 0 4rem;


    
    &__text {
      font-size: 2rem;
      color: $color-grey-light-1;
    }
}


.call-to-action {
  background-color: transparent;
   grid-column: full-start / full-end;
   

   display: grid;
   grid-template-columns: repeat(2, 1fr);

   @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: (1fr);

   }


   &__img {
    height: auto;
    width: 100%;
    border-radius: 1.4rem;
    box-shadow: 2rem 0 5rem rgba($color-grey-dark-1, .2);
   }

    

}



.action-call {
  display: grid;

  align-content: center;


  &__heading {
    font-size: 4rem;
    color: $color-primary;

  }

  &__text {
    font-size: 2rem;
    color: $color-grey-dark-1;
  }

   
}
