////////////////////////////////////////////////////
/// SERVICES PAGE STYLES


.services-banner {
  background-color: $color-primary;
  grid-column: full-start / full-end;



}

.services-banner {
  padding: 0 4rem;


    
    &__text {
      font-size: 2rem;
      color: $color-grey-light-1;

      @media only screen and (max-width: $bp-largest) {
        font-size: 2.5rem;
        color: $color-grey-light-1;
    
       }

      @media only screen and (max-width: $bp-large) {
        font-size: 2.5rem;
        color: $color-grey-light-1;
    
       }
    }
}


.services-info {
  background-color: transparent;
   grid-column: full-start / full-end;
   padding: 2rem 3rem;
   

   display: grid;
   gap: 4rem;
   grid-template-columns: repeat(2, 1fr);

   @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(2, 1fr);

   }

   @media only screen and (max-width: $bp-medium) {
    grid-template-columns: (1fr);

   }

   @media only screen and (max-width: $bp-small) {
    grid-template-columns: (1fr);

   }

   @media only screen and (max-width: $bp-smaller) {
    grid-template-columns: (1fr);

   }

   @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: (1fr);

   }


   &__img {
    height: auto;
    width: 100%;
    border-radius: 1.4rem;
    box-shadow: 2rem 0 5rem rgba($color-grey-dark-1, .2);
   }

    

}



.service-info {
  display: grid;

  align-content: center;


  &__heading {
    font-size: 4rem;
    font-family: $font-display;
    color: $color-primary;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.9rem;
      color: $color-primary;
      
   }

    @media only screen and (max-width: $bp-small) {
      font-size: 2.4rem;
      color: $color-primary;
      
   }

    @media only screen and (max-width: $bp-smaller) {
      font-size: 2.4rem;
      color: $color-primary;
      
   }
    
    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.4rem;
      color: $color-primary;
      
   }
 

  }

  &__text {
    font-size: 2rem;
    color: $color-grey-dark-1;
    text-justify: justify;
    word-spacing:.5rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;

      
   }

    @media only screen and (max-width: $bp-smaller) {
      font-size: 2rem;
   
      
   }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2rem;
      
      
   }
  }

   
}

.offers-heading{
  grid-column: full-start / full-end;
  padding: 0 4rem;

  display: grid;
 justify-content: center;
 margin-top: 3rem;


 @media only screen and (max-width: $bp-large) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  

 }

  @media only screen and (max-width: $bp-smaller) {
    justify-content: center;
    align-items: center;
  

   }

  &__large {
    font-size: 4rem;
    color: $color-primary;
    font-family: font-display;
    font-weight: 700;

    @media only screen and (max-width: $bp-smaller) {
      font-size: 3rem;
      justify-content: center;
      align-items: center;
    
  
     }

     @media only screen and (max-width: $bp-smallest) {
      font-size: 2rem;
      justify-content: center;
      align-items: center;
    
  
     }

  }

  &__small {
    font-size: 2rem;
    color: $color-grey-dark-1;
    text-align: center;
    font-weight: 700;
  }
}

.services-offer {

  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10rem 0;
  gap: 2rem;

  align-items: start;

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(4, 1fr);

}

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(2, 1fr);

}

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: ( 1fr);
}

@media only screen and (max-width: $bp-small) {
  grid-template-columns: (1fr);
}

@media only screen and (max-width: $bp-smaller) {
  grid-template-columns: (1fr);
}

@media only screen and (max-width: $bp-smallest) {
  grid-template-columns: (1fr);
}





.service-offer
{
  
  padding: 0 3rem;




  @media only screen and (max-width: $bp-smallest) {
    padding: 0 2rem;

   }

  &__heading {
    font-size: 2rem;
    color: $color-primary;
    font-family: font-display;
    font-weight: 700;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.9rem;
      color: $color-primary;
      font-family: font-display;
      font-weight: 700;
  
     }

  }

  &__text {
    font-size: 2rem;
    color: $color-grey-dark-1;
    text-align: start;
  }
}
}


.approaches-section-heading {
  grid-column: full-start / full-end;
  margin-top: 2rem;

 @media only screen and (max-width: $bp-smallest) {
  
  


 }


  &__large {
    font-size: 4rem;
    color: $color-primary;
    font-family: font-display;
    font-weight: 700;
    text-align: center;
  
    @media only screen and (max-width: $bp-smaller) {
      font-size: 3rem;
      justify-content: center;
      align-items: center;
    
  
     }
  
     @media only screen and (max-width: $bp-smallest) {
      font-size: 2rem;
      justify-content: center;
     }
  
  }
  
  &__span {
    color: #000;
  }
  
  &__small {
    font-size: 2rem;
    color: $color-grey-dark-1;
    text-align: center;
    font-weight: 700;
  }


}

.approaches {
  grid-column: col-start 2 / col-start 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5rem 0;
  gap: 3rem;

  align-items: start;

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(3, 1fr);

}

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(3, 1fr);

}

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-start;
    grid-template-columns: ( 1fr);
    padding: 1rem 2rem;
}

@media only screen and (max-width: $bp-small) {
  grid-column: full-start / full-start;
  grid-template-columns: ( 1fr);
  padding: 1rem 2rem;
}

@media only screen and (max-width: $bp-smaller) {
  grid-column: full-start / full-start;
  grid-template-columns: ( 1fr);
  padding: 1rem 2rem;
}

@media only screen and (max-width: $bp-smallest) {
  grid-column: full-start / full-start;
  grid-template-columns: ( 1fr);
  padding: 1rem 2rem;
}



}



.approach {
  padding: 1rem 3rem;
  background-color: $color-grey-light-3;
  height: 100%;
  
  border-radius: 2rem;

  @media only screen and (max-width: $bp-smallest) {
    padding: 3rem 6rem;

   }

  &__heading {
    font-size: 3rem;
    color: $color-grey-dark-1;
    font-family: font-display;
    font-weight: 700;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.9rem;
      color: $color-primary;
      font-family: font-display;
      font-weight: 700;
  
     }

  }

  &__text {
    font-size: 2rem;
    color: $color-grey-dark-1;
   
  }
}