.testimonial {
  
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    gap: 3rem;
    padding: 2rem 3rem;
    margin: 4rem;

    @media only screen and (max-width: $bp-smaller) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding: 2rem 0rem;
    margin: 4rem;
        
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        padding: 2rem 4rem;
        margin: auto;
            
        }
    
}


.client {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-light-3;
    border-radius: 3rem;
   align-items: start;
    padding: 5rem 5rem;
    gap: 2rem;

    @media only screen and (max-width: $bp-smaller) {
        
        padding: 2rem 2rem ;
    }

    @media only screen and (max-width: $bp-smallest) {
        max-width: 90vw;
        padding: 2rem 4rem ;
    }


   
   

    &__stars {
        display:flex;
       

    }


    &__star {
        width: 2rem;
        height: 2rem;
        fill: $color-primary-dark;
        
    }

    &__testimony {
        font-size: 1.8rem;
        font-weight: 400;
        color: black;
    }
}