.testimonial {
  
    grid-column: full-start / full-end;

    display: grid;
    gap: 3rem; 
    padding: 2rem 3rem;
    margin: 4rem;
    grid-template-columns: repeat(2, 1fr) ;


    @media only screen and (max-width: $bp-medium) {
        grid-template-columns:(1fr) ;
        gap: 3rem;
        padding: 2rem 2rem;
        margin: auto;
            
        }
   

    @media only screen and (max-width: $bp-small) {
        grid-template-columns:(1fr) ;
        gap: 3rem;
        padding: 2rem 2rem;
        margin: auto;
            
        }

    @media only screen and (max-width: $bp-smaller) {
    grid-template-columns:(1fr) ;
    gap: 3rem;
    padding: 2rem 2rem;
    margin: auto;
        
    }

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns:(1fr) ;
        gap: 2rem;
        padding: 2rem 1rem;
        margin: auto;
            
        }
    
}


.client {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-light-3;
    border-radius: 3rem;
    align-items: start;
    padding: 5rem 5rem;
    gap: 2rem;

    @media only screen and (max-width: $bp-small) {
        
        margin: auto;
        padding: 2rem 2rem ;
    }

    @media only screen and (max-width: $bp-smaller) {
      
        margin: auto;
        padding: 2rem 2rem ;
    }

    @media only screen and (max-width: $bp-smallest) {
        
        margin: auto;
        padding: 2rem 3rem ;
    }


   
   

    &__stars {
        display:flex;
       

    }


    &__star {
        width: 2rem;
        height: 2rem;
        fill: $color-primary-dark;
        
    }

    &__testimony {
        font-size: 1.8rem;
        font-weight: 400;
        color: black;
    }
}