%heading {
    font-family:$font-display;
    font-weight: 400;

}

.heading-1 {
   @extend %heading;

   font-size: 6rem;
   font-weight: 600;
   color: $color-grey-light-1;

   @media only screen and (max-width:$bp-medium) {
    font-size: 5rem;
    font-weight: 600;
   }

   @media only screen and (max-width:$bp-small) {
    font-size: 2.5rem;
    font-weight: 600;
   }

   @media only screen and (max-width:$bp-smaller) {
    font-size: 3.2rem;
    font-weight: 600;
   }

   @media only screen and (max-width:$bp-smallest) {
    font-size: 2rem;
    font-weight: 600;
   }
  


}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-weight: 600;
    color: $color-grey-light-1;


    &--light {color: $color-primary }
    &--dark {color: $color-primary-dark; }

    @media only screen and (max-width:$bp-smaller) {
        font-size: 2.5rem;
        font-weight: 500;
       }
        
}

.heading-3 {
    @extend %heading;
    @extend %heading;
    font-size: 2rem;
    font-weight: 600;
    
    

    &--light {color: $color-grey-light-1; }
    &--dark {color: $color-grey-dark-1; }
    
}

.heading-4 {
    @extend %heading;

    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

    &--light {color: $color-grey-light-1; }
    &--dark {color: $color-grey-dark-1; }
    
}

.info-heading {
    @extend %heading;
    @extend %heading;
    font-size: 4rem;
    font-weight: 600;
    color: $color-primary;
    text-align: center;

    @media only screen and (max-width: $bp-smallest) {
    font-size: 2.4rem;
    font-weight: 600;
    color: $color-primary;
    text-align: center;


    }
    
    

    
}




//////////////////////////////////////
/// SCROLL UP BUTTON STYLES

.scroll-up-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.7rem;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-up-btn:hover {
    background-color: #555;
}

.scroll-up-btn.show {
    display: flex; /* Show when active */
    opacity: 1;
    transform: scale(1);
}

.scroll-up-btn.hide {
    opacity: 0;
    transform: scale(0.9);
}


//////////////////////////////////////
/// PICKUP AND DELIVERY PAGE STYLES


.pickup-banner {
    grid-column: full-start / full-end;



    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/planet-delivery.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




    
}


.pickup-banner {
    &__heading {
        font-size: 5rem;
        font-weight: 600;
        font-family: $font-display;
        color: $color-grey-light-1;
        text-align: center;
        margin-bottom: 2rem;
    }


    &__text {
        font-size: 2rem;
        font-weight: 300;
        color: $color-grey-light-1;
        text-align: center;
        margin-bottom: 2rem;
    }


    &__btn {
        font-size: 1.7rem;
        font-weight: 600;
        color: $color-grey-light-1;
        background-color: $color-primary;
        padding: 1rem 2rem;
        border-radius: 2rem;
        transition: background-color 0.3s ease;
        margin-top: 2rem;
        width: 25rem;
        height: 6rem;

    }


    &__btn:hover {
        background-color: $color-primary-dark;
    }




}


.pickup-process-heading {
    grid-column: center-start / center-end;
    
    font-size: 4rem;
    font-weight: 700;
    font-family: $font-display;
    padding: 3rem ;
    text-align: center;
    color: $color-primary;

    @media only screen and (max-width: $bp-medium) {
        font-size: 3rem;
    }

 @media only screen and (max-width: $bp-small) {
            font-size: 2.7rem;
    }


 @media only screen and (max-width: $bp-smaller) {
       font-size: 2.7rem;
    }


@media only screen and (max-width: $bp-smallest) {
    font-size: 2.7rem;
}
}

    



.pickup-processeses {
    grid-column: col-start 4 / col-start 9;

    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / full-end;
        padding: 2rem;
       }

    @media only screen and (max-width: $bp-small) {
        grid-column: full-start / full-end;
        padding: 2rem;
       }


    @media only screen and (max-width: $bp-smaller) {
        grid-column: full-start / full-end;
        padding: 2rem;
       }

   
   @media only screen and (max-width: $bp-smallest) {
    grid-column: full-start / full-end;
    padding: 2rem;
   }
 
    

   
}


.pickup-process {
 
   
    // align-content: center;
    grid-gap: 3rem;
    padding: 3rem;
   
   

   
    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        position: relative;
        top: 0;
        left: 20rem;
       
        @media only screen and (max-width: $bp-medium) {
            position: relative;
            top: 0;
            left: 14rem;
        }
 
     @media only screen and (max-width: $bp-small) {
                position: relative;
                top: 0;
                left: 14rem;
        }
 
 
     @media only screen and (max-width: $bp-smaller) {
                position: relative;
                top: 0;
                left: 14rem;
        }
 
    
    @media only screen and (max-width: $bp-smallest) {
        position: relative;
        top: 0;
        left: 12rem;
    }
        
       
      
       
    }

    &__text {
        font-size: 2rem;
        font-weight: 400;
        color: $color-grey-dark-1;
        text-align: start;

        
    }

    &__heading {
        font-size: 3rem;
        font-weight: 600;
        font-family: $font-display;
        color: $color-grey-dark-1;
        text-align: start;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
        }
 
     @media only screen and (max-width: $bp-small) {
                font-size: 2rem;
        }
 
 
     @media only screen and (max-width: $bp-smaller) {
           font-size: 2rem;
        }
 
    
    @media only screen and (max-width: $bp-smallest) {
        font-size: 2rem;
    }
    }

    &__step {
       

        font-size: 2rem;
        font-weight: 600;
    }
}


.pickup-cta {
    grid-column: full-start / full-end;
    padding: 3rem;
    text-align: center;
    background-color: $color-primary;
    margin-top: 3rem;

    @media only screen and (max-width: $bp-medium) {
        grid-column: full-start / full-end;
        padding: 2rem;
       }

    @media only screen and (max-width: $bp-small) {
        grid-column: full-start / full-end;
        padding: 2rem;
       }


       &
    &__heading {
        font-size: 4rem;
        font-weight: 600;
        font-family: $font-display;
        color: $color-grey-light-1;
        text-align: center;
        margin-bottom: 2rem;
    }


    &__btn {
        font-size: 1.7rem;
        font-weight: 600;
        color: $color-grey-light-1;
        background-color: transparent;
        padding: 1rem 2rem;
        border-radius: 3rem;
        border: 2px solid $color-grey-light-1;
        transition: background-color 0.3s ease;
        cursor: pointer;
        margin-top: 2rem;
        width: 25rem;
        height: 6rem;

        &:hover {
            background-color: $color-grey-light-1;
            color: $color-primary;
        }

    }


    }