%heading {
    font-family:$font-display;
    font-weight: 400;

}

.heading-1 {
   @extend %heading;

   font-size: 5rem;
   font-weight: 600;
   color: $color-grey-light-1;
  


}

.heading-2 {
    @extend %heading;
    
}

.heading-3 {
    @extend %heading;
    
}

.heading-4 {
    @extend %heading;

    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

    &--light {color: $color-grey-light-1; }
    &--dark {color: $color-grey-dark-1; }
    
}


.hero-content {
    text-align: center;
    padding: 0 2rem;
 
    

    

    &__text {
        padding: 0 4rem;
        font-size: 2rem;
        font-weight:300 ;
        color: $color-grey-light-1;
        text-align: center;


    }

   


    
}


.hero-button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    
  }

    &__btn {
        background-color: transparent;
        margin-right: 2rem;
        width: 25rem;
        height: 6rem;
        font-size: 1.6rem;
        font-weight: 400;
        border-radius: 3rem;
         border: solid $color-grey-light-1;
        cursor: pointer;
        transition: all .2s;
        color: $color-grey-light-1;

        &:hover {
            background-color: $color-primary-dark;
        }





        @media only screen and (max-width: $bp-small) {
            margin-right: 2rem;
            padding: 1rem;
            width: 18rem;
            height: 4rem;
            font-size: 1.3rem;
            border-radius: 1.8rem;
            color: $color-grey-light-1;
        
      }
        

    }
  

   
   
     
   
    
   
}